<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%# @usersをrenderで渡すと、Railsが自動的に個別のuserを認識して
  _user.html.erbに変数userとして渡す %>
  <%= render @users %>
</ul>

<%= will_paginate %>